<div class="sideBack">
<div class="items">
	<h2>Side Orders</h2>
	<div class="row">		
  		<div class="col-sm-6 col-md-4" *ngFor="let sides of sidesDesserts">
    		<div class="thumbnail">    			
      			<div class="caption">
              <img  src="sides.jpg">
        			<h4>{{sides.Name}}</h4>
        			<p>{{sides.Description}}</p>
        			<p>Price: {{sides.Price}}
        			<p>
        				<a href="#" class="btn btn-primary" role="button">Preview</a> 
        				<a href="#" class="btn btn-success" role="button">Add To Cart</a>
        			</p>
      			</div>
    		</div>
  		</div>
	</div>
  <footer>&copy; Darbar Indian Cuisine</footer>
</div>
</div>