<div class="vegBack">
<div class="items">
	<h2>Vegetarian Entrees</h2>
	<h5><mark>Includes Naan, Rice, Daal and Raita</mark></h5>
	<div class="row">		
  		<div class="col-sm-6 col-md-4" *ngFor="let vegitems of vegetarianMenu">
    		<div class="thumbnail">    			
      			<div class="caption">
        			<h4>{{vegitems.Name}}</h4>
        			<p>{{vegitems.Description}}</p>
        			<p>Price: {{vegitems.Price}}
        			<p>
        				<a href="#" class="btn btn-primary" role="button">Preview</a> 
        				<a href="#" class="btn btn-success" role="button">Add To Cart</a>
        			</p>
      			</div>
    		</div>
  		</div>
	</div>
	<footer>&copy; Darbar Indian Cuisine</footer>
</div>
</div>
